<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Catalogue</title>
<!--    <link rel="stylesheet" th:href="@{/css/style.css}" />-->
</head>
<body>
<h1>Book Catalogue</h1>

<a th:href="@{/books/add}">Add New Book</a>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>ISBN</th>
        <th>Publish Date</th>
        <th>Price (ZAR)</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.name}">Book Name</td>
        <td th:text="${book.isbnNumber}">1234567890</td>
        <td th:text="${book.publishDate}">01/01/2023</td>
        <td th:text="${book.price}">100.00</td>
        <td th:text="${book.bookType}">Hard Cover</td>
        <td>
            <a th:href="@{'/books/edit/' + ${book.id}}">Edit</a> |
            <a th:href="@{'/books/delete/' + ${book.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
